<% @page_title = 'Login' %>

<h2 class="title">Sign In</h2>
  
<% form_tag session_path do %>
  
  <center>
    <div style="margin-right: 100px;">
      <%= render :partial => 'shared/notice_text' %>
      
      <table width="200px">
	<tr>
	  <td width="80px" align="right"><%= label_tag 'login', "Username:" -%></td>
	  <td><%= text_field_tag "login", params[:login] -%></td>
	</tr>
	
	<tr>
	  <td align="right"><%= label_tag 'password', "Password:" -%></td>
	  <td><%= password_field_tag 'password', nil -%></td>
	</tr>
	<tr>
	  <td colspan="2" style="text-align: right; padding-right: 10px">
	    <span style="float: left;">
	      <%= check_box_tag 'remember_me', '1', params[:remember_me] %>
	      <%= label_tag 'remember_me', 'Remember me' %>
	    </span>
	    <input type="Submit" value="Login" class="submit-box">
	  </td>
      </table>
    </div>
  </center>
  
  <% end -%>
