<h1>New feed</h1>

<% form_for(@feed) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :url, "URL" %>
    <%= f.text_field :url %>
  </div

  <div class="control">
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= link_to 'Back', feeds_path %>
