<h1>New resource</h1>

<% form_for(@resource, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :file -%>
    <%= f.file_field :file -%>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', resources_path %>
