<% @page_title = h(@torrent.name) -%>
<style>
  .tlabel{text-align: right; font-weight: bold; padding: 4px;}
</style>

<h1><%= @torrent.name %></h1>

<table width="90%" cellpadding="0" cellspacing="0">
  <tr>
    <td width="120px;" class="tlabel">Download</td>
    <td><%= link_to(@torrent.filename, torrent_dl(@torrent)) %></td>
  </tr>
  <tr>
    <td class="tlabel">Info hash</td>
    <td><%= @torrent.info_hash %></td>
  </tr>
  <tr>
    <td class="tlabel">Description</td>
    <td><%= auto_link(simple_format(@torrent.description)) %></td>
  </tr>
  <% if @torrent.category -%>
    <tr>
      <td class="tlabel">Category</td>
      <td><%= link_to(@torrent.category.name, torrents_url(:cat => @torrent.category_id)) %></td>
    </tr>
  <% end -%>
  <tr>
    <td class="tlabel">Size</td>
    <td><%= number_to_human_size(@torrent.size)%> (<%= number_with_delimiter(@torrent.size) %> bytes)</td>
  </tr>
  <tr>
    <td class="tlabel">Added</td>
    <td><%= @torrent.created_at %></td>
  </tr>
  <tr>
    <td class="tlabel">Views</td>
    <td><%= @torrent.views %></td>
  </tr>
  <tr>
    <td class="tlabel">Activity</td>
    <td><%= pluralize(@torrent.seeders, 'seeder') %>, <%= pluralize(@torrent.leechers, 'leecher') %></td>
  </tr>
  <tr>
    <td class="tlabel">Snatched</td>
    <td><%= pluralize(@torrent.times_completed, 'time') %></td>
  </tr>
  <tr>
    <td class="tlabel">Files</td>
    <td><%= pluralize(@torrent.numfiles, 'file') %>
      
      <div id="show_files_link"><i><%= link_to_function('[Show full list]', "$('file_list').show(); $('hide_files_link').show(); $('show_files_link').hide();") %></i></div>
      <div id="hide_files_link" style="display: none;"><i><%= link_to_function('[Hide full list]', "$('file_list').hide(); $('hide_files_link').hide(); $('show_files_link').show();") %></i></div>
      
      <div id="file_list" style="margin-top: 5px; margin-bottom: 5px; display: none;">
	<table cellspacing="0" cellpadding="0" style="padding-top: 5px; padding-bottom: 8px;">
	  <tr>
	    <td>Path</td><td width="100px">Size</td>
	  </tr>
	  <% @torrent.torrent_files.each do |tf| %>
	    <tr>
	      <td><%= tf.filename %></td>
	      <td><%= number_to_human_size(tf.size)%></td>
	    </tr>
	  <% end %>
	</table>
      </div>
      
    </td>
  </tr>
</table>
<br/><br/>
<%= render :partial => 'comment/comments', :locals => {:comments => @comments, :torrent => @torrent} %>
<br/><br/>

